/* html {
    font-family: 'Inter';
    font-style: normal;
    padding: 0;
    margin: 0 auto;
    background: #F8FAFE;
    width: 100%;
} */

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

/* .container-margin {
    width: 1400px;
    padding: 0 50px;
} */