body {
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 51px;
}

header {
    max-width: 1500px;
    margin-right: auto;
}

header img {
    width: 33px;
    height: 36.5px;
}

header span {
    font-size: 44px;
    font-weight: bold;
}

iframe {
    border: 1px dashed #ccc;
    margin-bottom: 15px;
}

a {
    color: #018ad2;
    /* Цвет обычной ссылки */
    text-decoration: none;
    /* Убираем подчёркивание у ссылок */
}

a:hover {
    color: #c00;
    /* Цвет ссылки при наведении */
}

button {
    padding: 8px 12px;
}

p {
    margin-bottom: 16px;
}

ul {
    padding-left: 20px;
    /* Убираем поля */
}

.orange-text {
    color: #ff5722;
}

.breadcrumbs {
    font-size: 16px;
    margin-top: 27px;
    margin-bottom: 8px;
}

.name {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}

.photoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.photoes img {
    margin-right: 10px;
}

.main-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-center__left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.images-row {
    display: flex;
    flex-direction: row;
}

.main-center__left div div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: #a1a1a1 solid 1px;
    border-radius: 5px;
}

.main-center__left div div img {
    height: 58px;
}

.memory-buttons button {
    margin-right: 10px;
    border: #a1a1a1 solid 1px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background: none;
    font-size: 18px;
}

.memory-buttons button:hover {
    background-color: #e7e7e7;
}

.memory-buttons button:active {
    background-color: #c0c0c0;
}

.list-parametrs li {
    margin-bottom: 10px;
    list-style: none;
}

.list-parametrs li:before {
    content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: middle;
    line-height: 1px;
}

.main-center__right {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.box-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 67px;
}

.price-block {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 20px;
}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.discount p {
    text-decoration: line-through;
    color: #a1a1a1;
}

.discount div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: #F36223;
    margin-left: 10px;
}

.discount div p {
    color: white;
    text-decoration: none;
    font-size: 18px;
    flex: 0 0 15px;
}

.price {
    font-size: 30px;
}

.goods-receipt {
    margin-left: 20px;
    height: 100px;
}

.goods-receipt p {
    margin-bottom: 10px;
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    color: white;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
}