.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 8px;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 98px 0 0 0;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .breadcrumbs {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px 8px 0px;
        max-width: 340px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 70px;
    }
}