/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background: #f8fafe;
}

/* Elements */
/* Button */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.btn {
  border: 1px solid #888888;
  border-radius: 4px;
  background: #ffffff;
  padding: 10px 20px;
  box-sizing: border-box;
}

.btn:hover {
  background: #f2f2f2;
}

/* Link */
.link {
  cursor: pointer;
  color: #018ad2;
  /* Цвет обычной ссылки */
  text-decoration: none;
  /* Убираем подчёркивание у ссылок */
}

.link:hover {
  color: #f36223;
  /* Цвет ссылки при наведении */
}

.btn_image {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80px;
  height: 80px;
}

.btn_selected {
  border: 2px solid #ff5722;
}

/* Utilities */
.orange {
  color: #ff5722;
}

.gray {
  color: #888888;
}

/* Blocks */
.market-name {
  display: flex;
  align-items: baseline;
  gap: 7px;
  font-size: 44px;
  font-weight: 700;
  padding-top: 20px;
}

/* Nav */
.breadcrumbs {
  font-size: 16px;
  margin-top: 27px;
  margin-bottom: 8px;
}

/* Product */
.product__name {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}

.product__photos {
  margin-bottom: 30px;
}

.product__body {
  display: flex;
  gap: 100px;
}

.product__main {
  width: 60%;
}

.product__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}

.product__pictures {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.product__memory-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.product__sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  /* width: 420px; */
}

.product__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 40px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 420px;
  height: auto;
}

.product__characteristics {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  /* Убираем поля */
}

.product__characteristics li {
  margin-bottom: 10px;
}

.product__characteristics li::marker {
  color: #888888;
}

.product__description {
  margin-bottom: 30px;
}

.product__description p {
  margin-top: 15px;
}

/* Reviews */
.reviews__button {
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
}

.price__button:hover,
.reviews__button:hover {
  background: #da4a0c;
  border-radius: 4px;
  color: #ffffff;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
}

.price__button:active,
.reviews__button:active {
  border: 1px solid #f36223;
  border-radius: 4px;
}

.reviews__box-wrapped {
  display: flex;
  gap: 10px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 710px;
}

.reviews__info {
  width: 877px;
  margin-bottom: 30px;
}

.reviews__item {
  display: flex;
  gap: 16px;
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Review */
.review__comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.review__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 710px;
  height: 156px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 10px;
}

.review__details p {
  margin: 0;
}

.review__photo {
  width: 140px;
  height: 140px;
  border-radius: 100px;
}

.review__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Price */
.price__group {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.price__main {
  text-decoration: line-through;
  color: #a1a1a1;
}

.price__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 64px;
  background: #f36223;
  border-radius: 4px;
  color: white;
  border: none;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 14pt;
}

.price__percent-wrapped {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  background-color: #f36223;
  margin-left: 10px;
}

.price__percent {
  color: white;
  text-decoration: none;
  font-size: 18px;
  flex: 0 0 15px;
}

.price__discount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 24px;
}

.price__sum {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-left: 20px;
  margin-top: 14px;
}

.price__comment {
  margin-left: 35px;
  margin-top: 15px;
  margin-bottom: 35px;
  /* height: 110px; */
}

.price__comment p {
  margin-bottom: 10px;
}

.separator {
  width: 880px;
  height: 1px;
}

.ads {
  border: 1px dashed #ccc;
}

.advertisement__iframes {
  margin-top: 10px;
}

.advertisement__iframes iframe {
  margin-bottom: 15px;
}

.model-comparison {
  width: 876px;
  height: 190px;
  border: 1px solid #888888;
  margin-top: 20px;
  margin-bottom: 60px;
}

.model-comparison__head th {
  background-color: aquamarine;
  text-align: center;
  border: 1px solid #888888;
  padding: 10px;
  white-space: nowrap;
}

.model-comparison__body tr td {
  text-align: center;
  border-right: 1px solid #888888;
  padding: 10px;
  white-space: nowrap;
}

.model-comparison__head,
.model-comparison {
  border-collapse: collapse;
}

.model-comparison__body tr:hover {
  background: #f2f2f2;
}

/* Footer */
.footer {
  background-color: #F2F2F2;
  padding: 30px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}