.product-configuration {
    display: flex;
    flex-direction: column;
}

.product__memory-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 39px;
    box-sizing: border-box;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product__memory-buttons {
        gap: 0;
 
    }
}