/* Footer */
.footer {
    background-color: #F2F2F2;
    padding: 30px 50px;
    margin-top: 60px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px; ;
}

.orange-1 {
    color: #ff5722;
    font-size: 16px;
}

#ten .link:active {
    color: #A93A09;
}

#ten .footer__list:active {
    color: #A93A09;
}

.footer__list {
    color: #018ad2;
    text-decoration: none;
}

.footer__list:hover {
    color: #f36223;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

@media (min-width: 360px) and (max-width: 1023px) {

    .footer {
        padding: 20px 0px;
    }

    .footer__container {
        display: block;
    }

    .footer__contact-info {
        margin-bottom: 20px;
    }


}
