.product-characteristics {
    display: flex;
    flex-direction: column;
}

.product__characteristics li {
    margin-bottom: 10px;
    list-style: none;
}

li::before {
    content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: -7px;
    line-height: 1px;
}


@media (min-width: 360px) and (max-width: 1023px) {
    .characteristic {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .product__characteristics li:nth-child(4) {
        margin-bottom: 0px;
    }
    .unfo-1{
        margin-left: 27px;
    }

    .product__property{
        width: 332px;
    }

    li::before {
        padding-right: 5px;

    }
}

