@media (max-width: 1499px) {
    .product__comparison {
        display: none;
    }
}

.model-comparison {
    width: 876px;
    height: 190px;
    border: 1px solid #888888;
    margin-top: 20px;
    margin-bottom: 60px;
}

.model-comparison__head th {
    text-align: center;
    border: 1px solid #888888;
    padding: 10px;
    white-space: nowrap;
}

.model-comparison__body tr td {
    text-align: center;
    border-right: 1px solid #888888;
    padding: 10px;
    white-space: nowrap;
}

.model-comparison__head,
.model-comparison {
    border-collapse: collapse;
}

.model-comparison__body tr:hover {
    background: #f2f2f2;
}