.product__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: 2px solid transparent;
    outline: 1px solid #888888;
    background-color: white;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

.selected {
    border: 2px solid transparent;
    outline: 2px solid #F36223;
}

.product__image:hover,
.product__image_selected:hover {
    background-color: #F2F2F2;
}

.product__image:active,
.product__image_selected:active {
    border: 2px solid transparent;
    outline: 2px solid #A93A09;
    border-radius: 4px;
    box-sizing: border-box;
}

.img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

@media (min-width: 360px) and (max-width: 1023px) {
    .product__image {
        height: 60px;
        width: 60px;
    }
}

@media (min-width: 360px) and (max-width: 1023px) {
    .img-button {
        height: 50px;
    }
}